.card__like_amount {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    font-style: normal;
    margin: 0;
    padding: 0;
}