.card__delete-button {
    background-image: url(../../../images/Trash.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 18px;
    height: 19px;
    position: absolute;
    background-color: transparent;
    top: 20px;
    right: 20px;
    border: none;
    transition: all 0.2s ease;
    z-index: 1;
    display: block;
}

.card__delete-button:hover {
    opacity: 0.6;
    cursor: pointer;
}