.card {
    background-color: #FFFFFF;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    color: #000;
}
