.logo {
  max-width: 103.74px;
  max-height: 24.4px;
  object-fit: contain;
  margin: 0;
  padding: 28px 0 0 27px;
}

@media screen and (min-width: 768px) {
  .logo {
    margin-left: 0;
    max-width: 142px;
    min-height: 33px;
    padding-left: 0;
  }
}
