.profile__title-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 22.25px auto 14px auto;
}

@media screen and (min-width: 768px) {
    .profile__title-container {
        margin: 62px auto 16px auto;
    }
}