.popup__container {
    background-color: #fff;
    align-items: center;
    z-index: 1;
    width: calc(100% - 38px);
    margin: 0 auto;
    position: relative;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}

@media screen and (min-width: 470px) {
    .popup__container {
        max-width: 430px;
    }
}