.popup {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: flex;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  visibility: hidden;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}
